<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="link-secondary link-offset-2 link-underline-opacity-25"
      >&copy; YelpCamp 2024</span
    >
  </div>
</footer>
